.breadcrumb_container {
    display: flex;
    padding: 10px;
    border: 1px solid --ion-color-primary-tint;
    height: 3em;
}

.breadcrumb {
    height: 3em;
    margin-left: 5px;
    width: 50%;
}