# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
.tmp
*.tmp
*.tmp.*
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
$RECYCLE.BIN/

*.log
log.txt
npm-debug.log*

/.idea
/.ionic
/.sass-cache
/.sourcemaps
/.versions
/.vscode
/coverage
/dist
/node_modules
/platforms
/plugins
/www
/artifacts

# cordova
crypto/
build.json

# OSX specific
.DS_Store

/.angular

config.xml

# Project configs and content (per-project; not versioned)
config/projects/
content/


src/environments/environment.prod.ts
android
capacitor.config.ts


# Env files
.env
.envrc
*.env
*.env.*