.player-info {
    display: flex;
    width: 100%;
    justify-content: center;
}

.controls {
    display: flex;
    width: 100%;
}

.player-progress {
    ion-range {
        display: flex-box;
    }
}

.player-controls {
    display: flex;
    justify-content: center;
}

.sm-control {
    font-size: 2em;
    background: inherit;
    vertical-align: center;
    outline: none;
    box-shadow: none;
}

.md-control {
    font-size: 4em;
    background: inherit;
    vertical-align: center;
    outline: none;
    box-shadow: none;
    color: var(--ion-color-primary-tint);
}

.lg-control {
    font-size: 6em;
    background: inherit;
    vertical-align: center;
    outline: none;
    box-shadow: none;
    color: var(--ion-color-primary);
}