<div class="player-info">
  {{playerState?.mediaTitle || "Nothing Playing"}}
</div>
<div class="player-progress">
  <ion-range
    [min]="0"
    [max]="playerState?.duration"
    [value]="playerState?.currentTime"
    [formControl]="seekbar"
    (ionChange)="setSeek($event)"
    (touchstart)="startSeek()"
    (touchend)="endSeek()"
    color="secondary">
      <ion-label slot="start">
        {{playerState?.readableCurrentTime}}
      </ion-label>
      <ion-label slot="end">
        {{playerState?.readableDuration}}
      </ion-label>
  </ion-range>
</div>
<div class="player-controls">
  <button class="md-control" (click)="previous()">
    <ion-icon name="play-skip-back-circle-outline"></ion-icon>
  </button>
  <button class="lg-control" (click)="pause()" [disabled]="playerState?.error" *ngIf="playerState?.playing">
    <ion-icon name="pause-circle"></ion-icon>
  </button>
  <button class="lg-control" (click)="play()" *ngIf="!playerState?.playing">
    <ion-icon name="play-circle"></ion-icon>
  </button>
  <button class="md-control" (click)="next()">
    <ion-icon name="play-skip-forward-circle-outline"></ion-icon>
  </button>
</div>