<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Oral Bible App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/shapes.svg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Starting reading the bible</ion-card-subtitle>
        <ion-card-title>Welcome to the Oral Bible App</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Click on Bible to start reading.</p>
      </ion-card-content>
    </ion-card>
</ion-content>
